.container {
    width: 375px;
    height: 810px;
    left: 0px;
    top: 0px;
    background: #1E213A;
}
.button-search {
  position: absolute;
  width: 140px;
  height: 30px;
  left: 11px;
  top: 15px;
  background: #6E707A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-search-font{
    position: absolute;
    width: 125px;
    height: 19px;
    left: 5px;
    bottom: 2px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 45px;
    color: #E7E7EB;
}
.placement-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 300px;
    top: 10px;
    border-radius: 20px;
    background: rgba(110, 112, 122, 0.3);
}
.findMeIcon {
  height: 30px;
  padding: 5px;
  color: #E7E7EB;
}

.weather-icon {
  position: absolute;
  width: 150px;
  height: 174px;
  left: 60px;
  top: 50px;
}
.degres-font {
    position: absolute;
    width: 192px;
    height: 169px;
    left: 92px;
    top: 180px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;
}
.weather-status-font {
  position: absolute;
  width: 129px;
  height: 42px;
  left: 133px;
  top: 450px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.today-font {
  position: absolute;
  width: 51px;
  height: 21px;
  left: 116px;
  top: 550px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #88869d;
}
.circle-icon{
  position: absolute;
  top: 585px;
  left: 180px;
  height: 15px;
}
.date {
  position: absolute;
  width: 73px;
  height: 21px;
  left: 206px;
  top: 550px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #88869d;
}
.city {
  position: absolute;
  width: 68px;
  height: 21px;
  left: 155px;
  top: 600px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #88869d;
}
.location-icon{
  position: absolute;
  top: 623px;
  left: 120px;
  height: 35px;
}
