.todayWeather-container {
  width: 375px;
  height: 810px;
  background: #1e213a;
}
.clouds {
  position: absolute;
width: 563.56px;
height: 326px;
left: -111px;
top: 58px;

  opacity: 0.1;
}
.components {
  display: flex;
  margin: auto 10px;
  justify-content: space-between;
  
}
.button-search {
  margin: 10px;
  display: flex;
  width: 180px;
  height: 45px;
  background: #6e707a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-search-font {
  width: 170px;
  height: 23px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500px;
  font-size: 19px;
  line-height: 37px;
  color: #e7e7eb;
  left: 0px;
}
.placement-icon {
  display: flex;
  margin: auto 10px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background: rgba(110, 112, 122, 0.3);
}
.material-icons{
  padding: 8px;
  color: #a09fb1;
}
.location{
  color: #e7e7eb;
}

.weather-icon {
  display: flex;
  justify-content: center;
  
  height: 174px;
  margin: 20px 10px;
}
.degres-font {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  padding: 10px;
  margin: 30px 5px 10px 50px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 75px;
  line-height: 0px;
  color: #e7e7eb;
}
.degre-c {
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: #a09fb1;
}
.weather-status-font {
  display: flex;
  justify-content: center;
  margin: 30px 40px 60px 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: #a09fb1;
}
.weather-highlights{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 90px ;
  height: 10px;

}
.today-font {
  
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #88869d;
}
.circle-icon {
  display: flex;
  justify-content: center;
  color: #88869d;
}
.date {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #88869d;
}
.position{
  display: flex;
  align-items: center;
  margin: 10px 50px 120px  120px ;
}
.city {

  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #88869d;
}
.material-icons md-light {
  color: #e7e7eb;
}
