.card-body{
    width: 130px;
    height: 177px;
    background-color: #1E213A;
    padding: 18px 22px;
    margin-left: 26px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.card-title{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.card-imagen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 31px;
}

.card-imagen{
    height: 62px;
    width: 62px;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.min-degree{
    color: #A09FB1;
}