.hightlightsContainer{
    width: 375px;
    height: 810px;
    background: #1e213a;
}
.windStatusContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 80px;
    height: 200px;
    width: 250px;
    background: #1E213A;
    
}
.windStatusStats{
    display: flex;
    align-items: center;
    margin: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #E7E7EB;  
}
.windStatusFont-7{
 font-size: 100px;
}
.windStatusFont-mph{
    font-size: 30px;
}
.windStatusFont-wsw{
    margin: 10px;
}
.humidityContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 80px;
    height: 300px;
    width: 250px;
    background: #1E213A;
}
.humidityFont{
display: flex;
margin: 40px 10px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

text-align: center;
color: #E7E7EB;
}
.humidityStats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
    color: #E7E7EB;    
    margin: auto 70px;
    
}
.humidityStats-84{
    font-weight: 700;
    font-size: 60px;
}
.humidityStats-percent{
    font-size: 30px;
    line-height: 100px;
}
.humidityBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}